<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration >
  <context id="context1" >
      <!-- com.github.pagehelper为PageHelper类所在包名 -->
    <plugin type="com.xxg.mybatis.plugins.MySQLLimitPlugin"></plugin>
    <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://192.168.15.109:3306/mallorder?characterEncoding=UTF-8"
    	userId="vasrip" password="vw61howwf54719o4" />
    <javaModelGenerator targetPackage="com.wjz.springboot1.persistence.model" targetProject="src/main/java">
    	<property name="enableSubPackages" value="false"/>
    	<property name="trimStrings" value="true"/>
    </javaModelGenerator>
    <sqlMapGenerator targetPackage="mappers" targetProject="src/main/resources">
    	<property name="enableSubPackages" value="false"/>
    </sqlMapGenerator>
    <javaClientGenerator targetPackage="com.wjz.springboot1.persistence.dao" targetProject="src/main/java" type="XMLMAPPER">
    	<property name="enableSubPackages" value="true"/>
    </javaClientGenerator>
    <table schema="mallorder" tableName="t_order" domainObjectName="OrderPo">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="id" identity="true" sqlStatement="MySql"/>
    </table>
  </context>
</generatorConfiguration>